* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background: rgb(245, 245, 245);
}
a {
    color: rgb(44, 40, 40);
    text-align: center;
    text-transform: uppercase;
    display: block;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h2,
h3,
h4 {
    margin-top: 0;
}


ul {
    list-style-type: none;
    padding: 0;
}
ul a:hover {
    color: mediumblue;
}

ul a:active{
    color: #fff;
}

/* navigation */

.main-header{
    padding: 32px 0 15px 0;
}
.name {
    font-size: 2em;
    font-family: monospace, 'Courier New', Courier;
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

.main-nav {
    margin-top: 5px;
}
.main-nav ul {
    margin: auto;
}

.main-nav a {
    display: block;
    text-align: center;
    font-size: .95em;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    margin: auto;
    padding: 5px 0;
    border-left: 15px solid rgb(245, 245, 245);
    border-right: 15px solid rgb(245, 245, 245);
    border-bottom: 5px solid rgb(245, 245, 245);
    border-top: 5px solid rgb(245, 245, 245);
}

/* Banner */
.banner {
    padding-top: 16px;
    padding-bottom: 30px;
    
}
.pp {
   display: block;
   margin: 0 auto;
   padding-bottom: 20px;
   max-width: 90%;
   min-width: 50%;
}
.intro {
    width: 90%;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* headding */

.portfolio {
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.75em;
    margin: auto;
    padding:30px 0;
}

/* Containers */
.container{
    background-color: #fff;
    width: 100%;
    padding-bottom: 30px;
}
.col img {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.col h2 {
    text-align: center;
    font-size: 1.25em;
}

.col p {
    text-align: center;
    font-size: 1em;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.pc1,
.pc2,
.pc3,
.pc4,
.pc5,
.pc6 {
    padding-bottom: 50px;
}

/* Contact */

.info {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.info h2 {
    text-align: center;
    display: block;
    font-size: 1.25em;
    padding-bottom: 20px;
    margin: 0;
}

.info p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
    margin: 0;
}

/* footer */

.footer {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 2px solid darkgray;
}

 
.fanme,
.mfd {
    float: left;
}

.fname {
    font-size: .95em;
    display: inline-block;
    }

 .tfd {
    display: none;
}

.mfd {
    font-size: .95em;
    margin: 0;
    float: right;
}
.mfd li {
    display: inline-block;
}
.mfd a {
    text-decoration: none;
    padding: 0;
}

/* =================
    Media Queries 
   =================*/

   @media (min-width: 767px) {
    
    body {
        background: rgb(124, 142, 165);
    }
     
    /* navigation */
    .main-header{
        padding: 32px 0 15px 0;
    }
    .name {
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding-bottom: 10px;
        margin: auto;
    }
    
    .main-nav {
        margin-top: 5px;
    }
    .main-nav ul {
        margin: auto;
    }
    
    .main-nav a {
        display: block;
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
        text-decoration: none;
        margin: auto;
        padding: 5px 10px;
        border: none;
        background-color: rgb(124,142,165);
    }

    .main-nav{
     text-align: center;
 }
 
    .main-nav li{
     display: inline-block;
 }

    /* Banner */
    .banner {
        padding-top: 5px;
}
    .pp {
        float: right;
        width: 25%;
        max-width: 500px;
        margin: 2.5% 2.5% 2.5% 0;
}
 
 
    .banner:last-child {
     padding-right: 0;
}
 
    .intro {
    text-align: left;
    font-size: 1.5em;
    max-width: 40%;
    float: left;
    margin: auto;
    margin: 2.5% 0 0 2.5%;     
}
    /* headding */
 
    .portfolio {
     text-align: center;
     display: block;
     padding: 60px 10px;
     font-size: 1.75em;
}
 
 
    /* Containers */
    .container {
        text-align: center;
 }
    .col {
        float: left;
 }
 
    .col {
     width: 50%;
 }
 
    /* Contact */
    
    .info h2 {
        text-align: center;
        display: block;
        font-size: 1.25em;
        margin: auto;
 }
 
    .info p {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.25em;
 }
 
    /* footer */
    .footer{
        padding: 15px 0 50px 0;
    }
    .fname {
        float: left;
        font-size: 1.25em;
    }
    .tfd {
        display: inline-block;
        padding: 0;
        margin: 0;
        float: right;
 }
 
    .tfd li {
        display: inline-block;
 }
    .tfd a {
        text-decoration: none;
        padding: 0 5px;
        right: 32px;  
 }
    
    .mfd {
        display: none;
 }
 
 }
 
 /* clearfix */
 
 .clearfix::after {
     content: "";
     clear: both;
     display: table;
   }
 
@media (min-width: 1024px) {

    body {
        background: rgb(165, 155, 201);
    }
     .main-header {
        width: 100%;
        text-align: left;
        padding-bottom: 0;
        padding: 40px 5% 60px 5%;
        display: inline-block;
 }
 
    .name{
        display: inline;
    }
    
    .pp {
        max-width: 10%;
        padding-right: 3.5%;
    }
 
    .main-nav {
        display: block;
        padding: 0;
        margin: 0;
        float: right;
 }
 
    .main-nav li {
        display: inline-block;
 }
    .main-nav a {
        text-decoration: none;
        padding: 0 5px;
        right: 32px;  
 }

    .col {
         width: 33%;
     }
 
    .info {
         width: 66%;
         margin: 0 auto;
}

    .footer {
        border-top: 2px solid black;
    }

   }