* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 2em;
    background: #f17070; /* <--- change to white after page has been built*/
}
a {
    color: rgb(44, 40, 40);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

li {
    text-decoration: none;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h2,
h3,
h4 {
    margin-top: 0;
}

img {
    max-width: 100%;
}


/* base layout styles */

/* navigation */

.name {
    font-size: 1.25em;
    margin: 0;
}

.main-nav {
    margin-top: 5px;
}

.main-nav a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: .95em;
    text-decoration: none;
}

.portfolio {
    text-align: center;
    display: block;
    font-size: 2em;
}